@tailwind base;
@tailwind components;
@tailwind utilities;


body.no-scrollbar::-webkit-scrollbar {
    display: none;
}

body.no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}